form{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    height: 430px;
}
.login{
    margin-top: 10%;
}
body{
    background-image: url(12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    color: dark-blue;
   font-family: 'Comic Sans MS', cursive;
}
p{
    color: black;
}
a{
    color: black;
}
label{
    color: black;
}
input[type="text"],input[type="password"],select{
    opacity: 0.6;
    color: darkred;
}
footer{
    color: black;
}