

h5 {
    letter-spacing: 3px;
}
@media (max-width: 750px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 250px; 
    } 
}/* Your custom styles */
body{
	background-image: url(4.jpeg);
}