div.one
{
margin:0.2in;
padding:1in;
backgound-color:black;
border-style:solid;
border-top-width:thick;
border-bottom-width:thick;
border-left-width:thick;
border-right-width:thick;
border-color:black;


}
